<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @article.nombre %>
</p>

<p>
  <strong>Desc:</strong>
  <%= @article.desc %>
</p>
<p>
  <strong>Último pedido:</strong>
  <% if @article.ultimoped.present? %>
    <%= @article.ultimoped %>
  <% end  %>

</p>

<p>
  <strong>Saldo:</strong>
  <%= @article.saldo %>
</p>

<p>
  <strong>Stockmin:</strong>
  <%= @article.stockmin %>
</p>

<p>
  <strong>Lotecompra:</strong>
  <%= @article.lotecompra %>
</p>

<p>
  <strong>Unidad:</strong>
  <%= @article.unidad %>
</p>

<p>
  <strong>Unidadcompra:</strong>
  <%= @article.unidadcompra %>
</p>

<p>
  <strong>Ucompraporudeuso:</strong>
  <%= @article.ucompraporudeuso %>
</p>

<p>
  <strong>Sfamily:</strong>
  <%= @article.sfamily %>
</p>

<p>
  <strong>Family:</strong>
  <%= @article.family %>
</p>

<p>
  <strong>Ssfamily:</strong>
  <%= @article.ssfamily %>
</p>

<h3> Saldo </h3>
<div>
  <% @balances.reverse.each do |balance| %>
    <div>
      <%= balance.saldo %> -  <%=balance.updated_at%>
    </div>
  <%end%>
</div>


<h3> Entradas </h3>
<div>
  <% @inputs.reverse.each do |input| %>
    <div>
      <%= input.cantidad %> -  <%=input.updated_at%>
    </div>
  <% end %>
</div>

<h3> Salidas </h3>
<div>
  <% @outputs.reverse.each do |output| %>
    <div>
      <%= output.cantidad %> -  <%=output.updated_at%>
    </div>
  <%end%>
</div>





<%= link_to 'Edit', edit_article_path(@article) %> |
<%= link_to 'Back', articles_path %>
