<%= form_for(@work) do |f| %>
  <% if @work.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@work.errors.count, "error") %> prohibited this work from being saved:</h2>

      <ul>
      <% @work.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :desc %><br>
    <%= f.text_field :desc %>
  </div>
  <div class="field">
    <%= f.label :horas %><br>
    <%= f.text_field :horas %>
  </div>
  <div class="field">
    <%= f.label :fecha %><br>
    <%= f.date_select :fecha %>
  </div>
  <div class="field">
    <%= f.label :equipment_id %><br>
    <%= f.text_field :equipment_id %>
  </div>
  <div class="field">
    <%= f.label :worker_id %><br>
    <%= f.text_field :worker_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
