<p id="notice"><%= notice %></p>

<p>
  <strong>Desc:</strong>
  <%= @work.desc %>
</p>

<p>
  <strong>Horas:</strong>
  <%= @work.horas %>
</p>

<p>
  <strong>Fecha:</strong>
  <%= @work.fecha %>
</p>

<p>
  <strong>Equipment:</strong>
  <%= @work.equipment %>
</p>

<p>
  <strong>Worker:</strong>
  <%= @work.worker %>
</p>

<%= link_to 'Edit', edit_work_path(@work) %> |
<%= link_to 'Back', works_path %>
