<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @family.nombre %>
</p>

<p>
  <strong>Desc:</strong>
  <%= @family.desc %>
</p>

<%= link_to 'Edit', edit_family_path(@family) %> |
<%= link_to 'Back', families_path %>
