<%= form_for([@article,@input]) do |f| %>
  <h2>Artículo: <%= @article.nombre %></h2>

  <% if @input.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@input.errors.count, "error") %> prohibited this input from being saved:</h2>

      <ul>
      <% @input.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :cantidad %><br>
    <%= f.number_field :cantidad , :step => 'any' %>
  <div class="field">
    <%= f.check_box :devolucion %> <%= f.label :devolucion %>
  </div>
  <div class="field">
    <%= f.label "Remito" %><br>
    <%= f.text_field :remito %>
  </div>
    


  <div class="field">
    <%= f.label "Comentarios" %><br>
    <%= f.text_field :comment %>
  </div>
  



  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
