<p id="notice"><%= notice %></p>

<h1>Entradas</h1>

<table>
  <thead>
    <tr>
      <th>Fecha / Hora </th>
      <th>Articulo</th>
      <th>Cantidad</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <div>
      <%= link_to 'New Input', new_input_path %>
    </div>
    
    <% @inputs.reverse.each do |input| %>
      <tr>
        <td><%= input.created_at %></td>
        <td><%= input.article.nombre %></td>
        <td><%= input.cantidad.round(2) %></td>
        <% if input.remito.present? %>
            <td><%= input.remito %></td>
            <% else %>
          <td>     </td>
          <%end%>
        <td><%= link_to 'Show', input %></td>
        <td><%= link_to 'Edit', edit_input_path(input) %></td>
        <td><%= link_to 'Destroy', input, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>