<p id="notice"><%= notice %></p>

<p>
  <strong>Cantidad:</strong>
  <%= @input.cantidad %>
</p>

<p>
  <strong>Artículo:</strong>
  <%= link_to @input.article.nombre, @input.article %>
</p>

<%= link_to 'Edit', edit_input_path(@input) %> |
<%= link_to 'Back', inputs_path %>
