

<header>
	<nav class="be-red white large-padding">
		<ul class="no-list row center-xs middle-xs">
			<li class="col-md black logo-panol be-orange">
				<%= link_to " Gestión Pañol ", root_path %>
			</li>
			<li class="col-md">
				<%= link_to "Artículos", articles_path %>
			</li>
			<li class="col-md">
				<%= link_to "Entradas", inputs_path %>
				<%= link_to "Salidas", outputs_path %>
			</li>
			<li class="col-md">
				<%= link_to "Comprar", new_buyorder_path %>
			</li>
			<li class="col-md">
				<%= link_to "Pedidos", "/pedidos" %>
			</li>
		</ul>
	</nav>
</header>