<h1>Artículos y estados</h1>

<table>
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Saldo</th>
      <th>Stockmin</th>
      <th>Estado</th>
      <th colspan='10'></th>
    </tr>
  </thead>

  <tbody>
    <% @articles.each do |article| %>
      <tr>
        <td><%= link_to article.nombre, article %></td>
        
        <% if article.balances.last.present? %>
          <td><%= article.balances.last.saldo.round(2) %></td>
          <% else %>
          <td> </td>
          <%end%>        
        <td><%= article.stockmin %></td>
        <td><%= article.state %></td>
        
        <td><%= link_to 'Entregar', new_article_output_path(article.id) %></td>

        <td><%= link_to 'Ingresar', new_article_input_path(article.id) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
