<p id="notice"><%= notice %></p>

<h1>Listing Ssystems</h1>

<table>
  <thead>
    <tr>
      <th>Nombre</th>
      <th>System</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @ssystems.each do |ssystem| %>
      <tr>
        <td><%= ssystem.nombre %></td>
        <td><%= ssystem.system %></td>
        <td><%= link_to 'Show', ssystem %></td>
        <td><%= link_to 'Edit', edit_ssystem_path(ssystem) %></td>
        <td><%= link_to 'Destroy', ssystem, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Ssystem', new_ssystem_path %>
