<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @ssystem.nombre %>
</p>

<p>
  <strong>System:</strong>
  <%= @ssystem.system %>
</p>

<%= link_to 'Edit', edit_ssystem_path(@ssystem) %> |
<%= link_to 'Back', ssystems_path %>
