

<%= form_for(@compra) do |f| %>
  <% if @compra.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@compra.errors.count, "error") %> prohibited this buyorder from being saved:</h2>

      <ul>
      <% @compra.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <% @faltantes.each do |articulo| %>
      <div>
        <col>
          <%= check_box_tag "acomprar[]", articulo.id, checked = true %>
          <% if articulo.desc.present? %>
            <%= articulo.nombre %> - <%= articulo.desc %>
          <% else %>
            <%= articulo.nombre %>
          <% end %>
        </col>
        <col>  --  </col>
        <col>
          Cantidad a comprar
          <%= check_box_tag "variable[]", articulo.nombre %>
        </col>
      </div>
    <% end %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
