<p id="notice"><%= notice %></p>

<h1>Salidas</h1>

<table>
  <thead>
    <tr>
      <th>Fecha / Hora</th>
      <th>Article</th>
      <th>Cantidad</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @outputs.reverse.each do |output| %>
      <tr>
        <td><%= output.created_at %></td>
        
        <td><%= output.article.nombre %></td>
        <td><%= output.cantidad %></td>

        <% if output.worker.present? %>
          <td><%= output.worker.nombre %></td>
        <% else %>
          <td></td>
          <% end %>


        <td><%= link_to 'Show', output %></td>
        <td><%= link_to 'Edit', edit_output_path(output) %></td>
        <td><%= link_to 'Destroy', output, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

